{% extends 'src/views/partials/layout.njk' %}
{% block content %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ character.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ character.name }}</h5>
                    <p class="card text">
                        <table class="table tabkle-striped table-hover">
                            <tbody>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ character.status }}</td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td>{{ character.gender }}</td>
                                </tr>
                                <tr>
                                    <th>Species</th>
                                    <td>{{ character.species }}</td>
                                </tr>
                                <tr>
                                    <th>Location</th>
                                    <td>{{ character.location.name }}</td>
                                </tr>
                                <tr>
                                    <th>Origin</th>
                                    <td>{{ character.origin.name }}</td>
                                </tr>
                                <tr>
                                    <th>Episodes</th>
                                    <td>{{ character.episode.length }}</td>
                                </tr>
                            </p>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}